{% extends "layout.html" %}

{%block subject%}

<form action="{{url_for('airlines.add_airline')}}" method="post" name="airline_edit">
  <div class="form-group">
    <input type="text" class="form-control" name="airline_ticker" placeholder="Airline Identifier">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" name="airline_name" placeholder="Airline Name">
  </div>
  <button class="btn btn-primary btn-block">
    Save
  </button>
</form>

<form action="" method="post" name="airline_delete">
  <table class="table">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">ID</th>
        <th scope="col">Airline Identifier</th>
        <th scope="col">Airline Name</th>
        <th scope="col">Update</th>
      </tr>
    </thead>
    <tbody>
      {% for airline_keys, airlines, airline_name in list_airlines%}
      <tr>
        <td>
          <label class="checkbox">
            <input type="checkbox" name="airline_keys" value="{{ airline_keys }}" />
          </label>
          <a href="{{ url_for('airlines.airlines_page', airline_keys=airline_keys) }}"></a>
        </td>
        <td>{{airline_keys}}</td>
        <td>{{airlines}}</td>
        <td>{{airline_name}}</td>
        <td><a href="{{ url_for('airlines.update_airline', id =airline_keys) }}"class="btn btn-secondary btn-sm"> Update </a></td>
      </tr>
      {% endfor %}
  </table>
  <div class="field is-grouped">
    <div class="control">
      <button class="button is-danger is-small">Delete</button>
    </div>
  </div>
</form>

{%endblock subject%}