{% extends "layout.html" %}

{%block subject%}
<div class="row justify-content-center" style="margin-top: 5%;">
  <div class="col-md-6">
    <div class="card-header"> Add Feedback
      <div class="card">
        <form action="{{ url_for('feedback.update_feedback', id = id, ticker = ticker) }}" method="post"
          name="feedback_update">

          <div class="field">
            <div class="form-group row">
              <label for="type" class="col-md-4 col-form-label">This comment belongs to: </label>
              <div class="col-sm-6">
          <input type="text" id="sessionUsename" name="sessionUsename" placeholder= {{name}} readonly>
        </div>
      </div>
    </div>
          
          <div class="field">
            <div class="form-group row">
              <label for="type" class="col-md-4 col-form-label">Type</label>
              <div class="col-sm-6">
                <select id="type" class="form-control" name="type">
                  <option value="Business Travel">Business Travel</option>
                  <option value="Personal Travel">Personal Travel</option>
                </select>
              </div>
            </div>
            {% if 'type' in values.errors %}
            <p style="color:red;">
              {{ values.errors['type'] }}
            </p>
            {% endif %}
          </div>

          <div class="field">
            <div class="form-group row">
              <label for="class" class="col-md-4 col-form-label">Flight Class</label>
              <div class="col-sm-6">
                <select id="class" class="form-control" name="class">
                  <option value="Eco">Eco</option>
                  <option value="Business">Business</option>
                  <option value="Eco Plus">Eco Plus</option>
                </select>
              </div>
            </div>
            {% if 'class' in values.errors %}
            <p style="color:red;">
              {{ values.errors['class'] }}
            </p>
            {% endif %}
          </div>

          <div class="field">
            <div class="form-group row">
              <label for="satisfaction" class="col-md-4 col-form-label">Satisfied? </label>
              <div class="col-sm-6">
                <select id="satisfaction" class="form-control" name="satisfaction">
                  <option value="satisfied">Satisfied</option>
                  <option value="dissatisfied">Not Satisfied</option>
                </select>
              </div>
            </div>
            {% if 'satisfaction' in values.errors %}
            <p style="color:red;">
              {{ values.errors['satisfaction'] }}
            </p>
            {% endif %}
          </div>

          <div class="field">
            <div class="form-group row">
              <label for="online_support" class="col-md-4 col-form-label">Rate Online Support</label>
              <div class="col-sm-6">
                <select id="online_support" class="form-control" name="online_support">
                  <option value="0">0</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>
              </div>
            </div>
            {% if 'online_support' in values.errors %}
            <p style="color:red;">
              {{ values.errors['online_support'] }}
            </p>
            {% endif %}
          </div>

          <div class="field">
            <div class="form-group row">
              <label for="checking_service" class="col-md-4 col-form-label">Rate Checking Service</label>
              <div class="col-sm-6">
                <select id="checking_service" class="form-control" name="checking_service">
                  <option value="0">0</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>
              </div>
            </div>
            {% if 'checking_service' in values.errors %}
            <p style="color:red;">
              {{ values.errors['checking_service'] }}
            </p>
            {% endif %}
          </div>

          <div class="field">
            <div class="form-group row">
              <label for="baggage_handling" class="col-md-4 col-form-label">Rate Baggage Handling</label>
              <div class="col-sm-6">
                <select id="baggage_handling" class="form-control" name="baggage_handling">
                  <option value="0">0</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>
              </div>
            </div>
            {% if 'baggage_handling' in values.errors %}
            <p style="color:red;">
              {{ values.errors['baggage_handling'] }}
            </p>
            {% endif %}
          </div>

          <div class="field">
            <div class="form-group row">
              <label for="cleanliness" class="col-md-4 col-form-label">Cleanliness</label>
              <div class="col-sm-6">
                <select id="cleanliness" class="form-control" name="cleanliness">
                  <option value="0">0</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>
              </div>
            </div>
            {% if 'cleanliness' in values.errors %}
            <p style="color:red;">
              {{ values.errors['cleanliness'] }}
            </p>
            {% endif %}
          </div>

          <button class="btn btn-primary btn-block">
            Save
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

{%endblock subject%}