{% extends "layout.html" %}

{%block subject%}

<form action="{{ url_for('feedback.add_feedback', ticker = ticker ) }}" method="post" name="airline_edit">
  <div class="form-group">
    <input type="text" class="form-control" name="type" placeholder="type">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" name="class" placeholder="class">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" name="satisfaction" placeholder="satisfaction">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" name="online_support" placeholder="online_support">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" name="checking_service" placeholder="checking_service">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" name="baggage_handling" placeholder="baggage_handling">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" name="cleanliness" placeholder="cleanliness">
  </div>
  <button class="btn btn-primary btn-block">
    Save
  </button>
</form>

{%endblock subject%}