{% extends "layout.html" %}

{%block subject%}


<div class="container">
  <table class="ui celled table" style="width:100%">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Date</th>
        <th scope="col">Airline Firm</th>
        <th scope="col">Flight Number</th>
        <th scope="col">Tail Number</th>
        <th scope="col">Starting Airport</th>
        <th scope="col">Destination Airport</th>
        <th scope="col">Departure Time</th>
        <th scope="col">Arrival Time</th>
        <th scope="col">Distance</th>
      </tr>
    </thead>
    <tbody>
      {% for flight_keys, date, airline_ticker, flight_number, tail_number, starting_airport,
      destination_airport, scheduled_departure, scheduled_arrival, distance in list_flights %}
      <tr>
        <td>{{date}}</td>
        <td>{{airline_ticker}}</td>
        <td>{{flight_number}}</td>
        <td>{{tail_number}}</td>
        <td>{{starting_airport}}</td>
        <td>{{destination_airport}}</td>
        <td>{{scheduled_departure}}</td>
        <td>{{scheduled_arrival}}</td>
        <td>{{distance}}</td>
      </tr>
      {% endfor %}
  </table>
</div>
{%endblock subject%}